@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;1,400&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background: #0b090a; */
    background: #00171f;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
/*|| navbar*/
.navbar{
    width: 100%;
    padding: 20px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img{
    width: 50px;
    height: 50px;
}

.navbar i{
    cursor: pointer;
    font-size: 38px;

}

.navbar a{
    text-decoration: none;
    color: #fff;
}

/*|| main container*/
main{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*|| self intro container*/
.self-intro-container{
    margin-top: 50px;
    padding: 20px 0;
    width: 900px;
    display: flex;
    align-items: center;
}

.self-intro-container img{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}

.self-intro-container .text{
    margin-left: 20px;
}


.text strong{
    color: #ee9b00;
}

/*|| stacks container*/

.stacks-container{
    width: 900px;
    padding: 20px 0;

}

.stacks-img{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

.stacks-img > div {
    position: relative;
    width: 90px;
    cursor: pointer;
    margin-left: 10px;
}

.stacks-img > div p{
    margin-top: 15px;
    position: absolute;
    display: none;
    opacity: 0;
    color: #fff;
    transition: opacity 0.7s ease-in-out;
}

.stacks-img > div:hover p {
    display: block;
    opacity: 1;
    transition: opacity 0.7s ease-in-out;
}


.stacks-container img {
    width: 80px;
    height: 80px;
    transition: transform 0.3s ease-in-out;
}
.stacks-container img:hover{
    transform: scale(1.2);
    transition: transform 0.3s ease-in-out;
}

/*|| projects container*/
.projects-container{
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.projects-title{
    width: 900px;
    padding: 20px 0;
}


.projects-list{
    width: 900px;
}

.project-card{
    background: #212529; 
    border-radius: 4px;
    margin: 20px;
    padding: 10px;
    width: 100%;
    display: flex;
    align-items: center;
}
.project-card > div{
    min-height: 250px;
}
.project-card img {
    border-radius: 4px;
    width: 250px;
    height: 250px;
}

.project-content{
    padding: 10px;
    min-height: 250px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-start;
}

.project-card p {
    margin: 3px 0;
    font-size: 14px;
}

.project-card button{
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #ee9b00;
    color: #ee9b00;
    cursor: pointer;
    padding: 5px;
    vertical-align: baseline;
    width: 100%;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    transition: all 0.4s ease-in-out;
    border-radius: 4px;
}
.project-card button:hover{
    transition: all 0.4s ease-in-out;
    background: #ee9b00;
    color: #fff;
    transform: scale(0.99);
}
.project-card button i {
    vertical-align: middle;
    margin-left: 8px;
}

/*|| about me container */
section{
    width: 900px;
    display: flex;
    flex-direction: column-reverse;
}

section img{
    border-radius: 4px;
    width: 550px;
    height: 400px;
}

.about-me{
    padding: 20px 0;
}

.about-me p {
    margin: 10px 0;
}


/*|| footer container*/
footer{
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    text-align: center;
    background: #212529; 
}

footer span{
    color: #ee9b00;
}


/*|| contact container*/
.contact-container{
    margin-top: 20px;
    width: 900px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.contact-container h3{
    margin-bottom: 10px;
}
.social-links{
    margin-top: 20px;
}
.social-links a{
    text-decoration: none;
    color: #fff;
}

.social-links i {
    margin: 0 7px;
    font-size: 25px;
    transition: 0.3s eas transform;
}


.social-links i:hover{
    transition: 0.3s eas transform;
    transform: scale(1.2);
}